{{define "footer"}}
<footer>Powered by <a href='https://golang.org/'>Go</a>  in {{.CurrentYear}}</footer>
<!-- And include the JavaScript file -->
<script src="/static/js/main.js" type="text/javascript"></script>
{{end}}